*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    
}
body{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: auto;
    justify-content: center;
    align-items: center;
    background-image: url(../assets/img/gondolasuper-transformed.jpeg);
    background-size: cover;
}
h1{
    font-family: Impact,'Narrow', sans-serif;
    text-align: center;
    padding: 5px;
}
p{
    font-family: sans-serif;
    text-align: center;
    padding: 5px;
    font-size: 18px;
}